@mixin box($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin centeredBox($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.vbox {
  @include box($direction: column);
}

.hbox {
  @include box;
}

.cvbox {
  @include centeredBox($direction: column);
}

.chbox {
  @include centeredBox($direction: row);
}

.al-s {
  align-items: flex-start;
}

.gh-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
